.nav-bar {
  width: 100%;
  height: 6.3vh;
  border-radius: 5px;
  align-items: center;
  position: fixed;
  padding-left: auto;
  bottom: 0;
  left: 0;
}
.nav-bar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.nav-bar li {
  background-color: rgba(0, 0, 0, 0.781);
  float: left;
  width: 33%;
  height: inherit;
  border-radius: 5px;
  border-right: 1px rgba(255, 255, 255, 0.644) solid;
}
.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  height: inherit;
}
.nav-bar li a:hover {
  background-color: rgba(255, 235, 59, 0.938);
  height: inherit;
  border-radius: 5px;
}

/* Container */

.container-artistas {
  display: flex;
  align-items: center;
  width: 95%;
  margin: auto;
  border: grey 2px solid;
  border-radius: 5px;
  flex-wrap: wrap;
  padding: 1vh;
}

.container-artistas i {
  color: whitesmoke;
  font-size: 25px;
  margin-top: 2vh;
  margin-left: 3vw;
  position: fixed;
  top: 3vh;
}
.container-artistas h2 {
  width: 100%;
  text-align: center;
  color: whitesmoke;
}

/* Artista Foto */

.container-artistas .imagen {
  width: 100%;
  padding-left: 37vw;
}

.imagen img {
  padding-top: 2vh;
  size: inherit;
  border-radius: 50%;
  width: 33%;
}

/* Albums */
.albums {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
}

.albums .mejoresAlbums {
  height: fit-content;

  margin-bottom: 3vh;
}
.mejoresAlbums img {
  height: 15vh;
}

.canciones {
  width: 95%;
  height: fit-content;
  background-color: rgba(255, 235, 59, 0.877);
  margin: auto;
}

.canciones ul {
  width: inherit;
}

.canciones li {
  list-style: none;
  color: black;
  border-bottom: 1.5px solid;
  height: 4vh;
  margin-bottom: 1vh;
  width: 90%;
}

#ultima-list {
  border-bottom: transparent;
}
.titulos-canciones {
  color: whitesmoke;
  width: 100%;
  text-align: center;
}

body {
  background-image: url("/images/matblack.jpg");
}
