/* container */

.container {
  width: 95%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  color: whitesmoke;
  text-align: center;
  margin: auto;
  margin-top: 5vh;
  border-radius: 5px;
  border: 1px solid gray;
}

/* Imagen */

.imagen {
  width: 100%;
  text-align: center;
  margin-top: 3vh;
}

.imagen img {
  width: 70%;
  margin: auto;
}

/* descripción */

.descripcion {
  width: 100%;
}

/* Botones */

.botones {
  width: 100%;
  font-size: 700%;
  justify-content: space-evenly;
  margin-top: 10vh;
}
.dow {
  color: whitesmoke;
  font-size: 25px;
}
