/* Body */
body {
  background-image: url(../images/matblack.jpg);
  font-family: "Ropa Sans", sans-serif;
}

/* Font del carrouswel */
.carousel-caption {
  font-family: "Bebas Neue", cursive;
  font-weight: bolder;
}

#Playlist {
  background-image: url(../images/table-music-power-sound-63703.jpg);
}
