* {
  box-sizing: border-box;
}
/* header */
.header {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.header .logo {
  width: 10vw;
}
.header h1 {
  color: rgb(211, 188, 58);
  margin: -5px;
}
/*Cuerpo*/
.super {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin-bottom: 1vh;
}

h2 {
  color: #eee;
  font-weight: bolder;
  font-size: 24px;
}

.libreria {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}

.libreria::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.libreria::-webkit-scrollbar-track {
  background: transparent;
}

.libreria > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 68vh;
  margin-right: 50px;
  border-radius: 10px;
  background-color: rgba(255, 235, 59, 0.685);
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.super > a {
  display: inline-flex;
  text-decoration: none;
  color: #eee;
  margin: 10px;
}

.super > a:active {
  top: 1px;
  text-decoration: underline;
}

.super > a:focus {
  text-decoration: underline;
}
