* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
#Off {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 2%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;

  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.row {
  width: 100%;
  margin: auto;
}
.column {
  float: left;
  width: 33%;
  margin: auto;
  border-radius: 5px;
  border: grey solid 1px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  background-color: rgba(255, 238, 0, 0.623);
}

.Chart {
  height: fit-content;
  width: 100%;
  background-color: rgba(255, 238, 0, 0.671);
  border-radius: 10px;
  padding-left: 5vw;
}

.Chart .Item-lista {
  width: 90%;
  height: 50px;
  padding-top: 2vh;
  border-top: 1px solid black;
  color: grey;
}
.Item-lista:hover {
  background-color: rgba(128, 128, 128, 0.226);
}
a .Item-lista {
  text-decoration: none;
}

.Item-lista span {
  color: #050505;
}
