body {
  background-image: url(/images/matblack.jpg);
  background-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ropa Sans", sans-serif;
  flex-wrap: wrap;
}

/*Configuración*/

.perfil {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 235, 59, 0.801);
  right: 30px;
  top: 20px;
}

.settings i {
  color: rgba(255, 235, 59, 0.801);
  position: fixed;
  left: 30px;
  top: 32px;
  font-size: x-large;
}

.titulobanner {
  color: white;
}

/*Nav bar*/

.nav-bar {
  width: 100%;
  height: 6.3vh;
  border-radius: 5px;
  align-items: center;
  position: fixed;
  padding-left: auto;
  bottom: 0;
  left: 0;
}
.nav-bar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.nav-bar li {
  background-color: rgba(0, 0, 0, 0.781);
  float: left;
  width: 33%;
  height: inherit;
  border-radius: 5px;
  border-right: 1px rgba(255, 255, 255, 0.644) solid;
}
.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  height: inherit;
}
.nav-bar li a:hover {
  background-color: rgba(255, 235, 59, 0.938);
  height: inherit;
  border-radius: 5px;
}

/*carrusel*/

.container {
  width: 95%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  border-radius: 5px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: black;
}
.container::-webkit-scrollbar-track {
  background: transparent;
}
.container > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  margin-right: 50px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.container > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.banner-main {
  height: 23vh;
  width: 100%;
  background-color: rgba(255, 235, 59, 0.801);
  border-radius: 5px;
}
.banner-main:hover {
  background-color: rgba(255, 235, 59, 0.938);
  border-radius: 5px;
}
/*Diseño */
.banner-main p {
  font-size: 19px;
  position: fixed;
  top: -10px;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 900;
  font-style: oblique;
}

.banner-main i {
  color: black;
  box-shadow: black 32px;
  border-radius: 80%;
  text-align: center;
}

/*Fav*/

.favtitulo {
  color: white;
}

.favcontainer {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
}

.mas-escuchado {
  height: 45%;
  width: 45%;
  background-color: rgba(255, 235, 59, 0.801);
  margin: auto;
  border-radius: 15px;
}

.mas-escuchado:hover {
  background-color: rgba(255, 235, 59, 0.938);
}

.mas-escuchado p {
  font-size: 17px;
  display: fixed;
  text-align: center;
  font-weight: bolder;
}
