/*carrusel*/

.container {
  width: 95%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  border-radius: 5px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.container p {
  text-decoration: none;
  color: black;
  text-align: center;
}

.container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: black;
}
.container::-webkit-scrollbar-track {
  background: transparent;
}
.container > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  margin-right: 50px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.container > a {
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
}

.banner-main {
  height: 23vh;
  width: 100%;
  background-color: rgba(255, 235, 59, 0.801);
  border-radius: 5px;
}
.banner-main:hover {
  background-color: rgba(255, 235, 59, 0.938);
  border-radius: 5px;
}
/*Diseño */
.banner-main p {
  font-size: 19px;
  position: fixed;
  top: -10px;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 900;
  font-style: oblique;
  left: 40%;
}

.banner-main i {
  color: black;
  box-shadow: black 32px;
  margin-top: 4vh;
}

/*Playlist*/

.playlist-main {
  width: 95%;
  display: grid;
  height: fit-content;
  border-radius: 5px;
  border: grey 2px solid;
  padding-bottom: 3vh;
  margin-bottom: 2vh;
}

.titulo-playlist {
  padding: 5%;
  column-count: 2;
  text-align: center;
}

.titulo-playlist img {
  border-radius: 5px;
  width: 70%;
}
.titulo-playlist h2 {
  width: 100%;
  text-align: left;
}

.playlist-music {
  width: 90%;
  margin: auto;
  border-radius: 5px;
  background-color: rgba(255, 235, 59, 0.801);
  height: 40vh;
}
